{% extends 'myblog/base.html' %} {% load static %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-12 p-lg-5 m-lg-5 p-sm-2 m-sm-1">
      <h1 class="text-center">BLOG POST</h1>
      <div class="col-12 card p-5 m-3 rounded">
        <form action="." method="POST" enctype="multipart/form-data">
          {% csrf_token %} {{ postForm.media }} {{ postForm.as_p }}
          <input type="submit" class="btn btn-primary" value="POST" />
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
