{% extends 'home/base.html' %}
{% load static %}

{% block content %}

  <div class="page login-page">
    
    <div class="container">
      <div class="form-outer text-center d-flex align-items-center">  
        <div class="form-inner">
          <div class="logo text-uppercase"><strong class="text-primary">Nova's 360</strong> <span>Login</span></div>
          <p>Login to get more features, <a href="{% url 'account:register' %}">Register</a> if your are a new user</p>
          <div class="text-danger alert-danger">
            {{ form.non_field_errors }}
        </div>
      
          <form method="POST" action="." class="text-left form-validate">{% csrf_token %}
            <div class="form-group-material">
              {{form.username}}
            </div>
            <div class="form-group-material">
              {{form.password}}
            </div>
            <div class="form-group text-center"><input type="submit" value="Login" class="btn btn-primary">
              <!-- This should be submit button but I replaced it with <a> for demo purposes-->
            </div>
          </form>
          <!-- <a href="#" class="forgot-pass">Forgot Password?</a> -->
          <small>Do not have an account? </small><a href="{% url 'account:register' %}" class="signup">Signup</a>
        </div>
        <div class="copyrights text-center">
          <p>Developed by <a href="#" class="external">ATS tech</a></p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

